@import 'tailwindcss';
@plugin 'daisyui' {
	themes: light --default;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(62% 0.214 259.815);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(0.74 0.2 21.26);
	--color-error-content: oklch(1 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1.5px;
	--depth: 0;
	--noise: 0;
}

html {
	--primary: #4c63af;
	--primary-muted: #3e518e;
	--neutral: #ccc;
	--neutral-hover: #ebebeb;
	--radius: 8px;
	--header-height: 50px;
}

@utility input {
	@apply ring-3 ring-transparent focus-within:border-primary focus-within:ring-primary/30 focus-within:outline-0 focus:border-primary focus:ring-primary/30 focus:outline-0;
}
@utility select {
	@apply ring-3 ring-transparent focus-within:border-primary focus-within:ring-primary/30 focus-within:outline-0 focus:border-primary focus:ring-primary/30 focus:outline-0;
}

.lucide-icon {
	width: 18px;
	height: 18px;
}

/* @theme {
	--color-primary-50: var(--color-blue-50);
	--color-primary-100: var(--color-blue-100);
	--color-primary-200: var(--color-blue-200);
	--color-primary-300: var(--color-blue-300);
	--color-primary-400: var(--color-blue-400);
	--color-primary-500: var(--color-blue-500);
	--color-primary-600: var(--color-blue-600);
	--color-primary-700: var(--color-blue-700);
	--color-primary-800: var(--color-blue-800);
	--color-primary-900: var(--color-blue-900);
	--color-primary-950: var(--color-blue-950);
} */

/* @layer components {
	
	.input {
		@apply rounded-md border border-gray-300 px-3 py-1.5 text-sm text-gray-900 transition focus:border-primary-500 focus:outline-none;
	}

	
	.label {
		@apply mb-1 block text-sm font-medium text-gray-700;
	}

	
	.helper-text {
		@apply mt-1 text-xs text-gray-500;
	}

	
	.error-text {
		@apply rounded-md border border-red-200 bg-red-50 px-3 py-2 text-sm text-red-600;
	}

	
	.btn-primary {
		@apply rounded-md bg-primary-400 px-2 py-1.5 text-sm font-semibold text-white transition hover:bg-primary-400 focus:ring-2 focus:ring-primary-400 focus:ring-offset-2 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50;
	}

	
	.btn-link {
		@apply font-medium text-primary-600 hover:underline;
	}
} */
