:root {
  --primary: #4c63af;
  --primary-muted: #3e518e;
}
html {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dvh {
  height: 100dvh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button {
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: 0.3rem;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.2s ease;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="submit"]:focus-visible,
button:focus-visible {
  border: 2px solid var(--primary-muted);
}

input[type="submit"],
button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
  cursor: pointer;
}

input[type="submit"]:active,
button:active {
  transform: translateY(2px);
  background-color: var(--primary-muted);
  border: 2px solid var(--primary-muted);
}

.container {
  max-width: 1408px;
  padding-inline: 1rem;
  margin-inline: auto;
}
