:root {
  --primary: #4c63af;
  --primary-muted: #3e518e;
  --neutral: #ccc;
  --neutral-hover: #ebebeb;
  --radius: 8px;
  --title-height: 50px;
}
html {
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dvh {
  height: 100dvh;
}

input[type="text"],
select,
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="search"],
button,
.btn {
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: var(--radius);
  border: 1px solid var(--neutral);
  outline: none;
  transition: 0.2s ease;
}

input[type="text"]:focus-visible,
select:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="submit"]:focus-visible,
input[type="search"]:focus-visible,
button:focus-visible,
.btn:focus-visible {
  border: 1px solid var(--primary-muted);
}

input[type="submit"],
button,
.btn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

input[type="submit"]:active,
button:active {
  transform: translateY(2px);
  background-color: var(--primary-muted);
  border: 1px solid var(--primary-muted);
}

input[type="submit"].btn-ghost,
button.btn-ghost,
.btn.btn-ghost {
  background: transparent;
  color: black;
  border: 1px solid transparent;
}

input[type="submit"].btn-ghost:active,
button.btn-ghost:active,
.btn.btn-ghost:active {
  background: transparent;
  color: var(--primary);
}
input[type="submit"].btn-ghost:hover,
button.btn-ghost:hover,
.btn.btn-ghost:hover {
  background: var(--neutral-hover);
}

.container {
  max-width: 1408px;
  padding-inline: 1rem;
  margin-inline: auto;
}

a {
  color: var(--primary);
}

.title {
  color: var(--primary);
  border-bottom: 1px solid #ccc;
  padding-inline: 20px;
  height: var(--title-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.title h1 {
  margin: 0.4rem 0;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: "center";
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
