<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terra: Authentication</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="center dvh">
      <h1>Login</h1>
      <form>
        <input name="email" type="email" placeholder="Email" required /><br />
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        /><br />
        <button type="submit">Login</button>
      </form>
      <a href="/auth/signup">Or Sign Up</a>
    </main>
  </body>
  <script defer>
    const form = document.querySelector("form");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);

      const email = formData.get("email");
      const password = formData.get("password");

      if (email.trim() == "" || password.trim() == "") {
        alert("Null data");
        return;
      }

      const res = await fetch("/api/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ email, password }),
      });
    });
  </script>
</html>
